/* KBD MODE ON */
kbd {
  margin: 0 .1em;
  padding: .12em .6em;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #333;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  display: inline;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 2px #fff;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 0 2px #fff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 0 2px #fff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 1px 0 #fff
  }
  .darkMode kbd {
  border: 3px solid #f1f2f6;
  color: #7efff5;
  box-shadow: 0 1px 0 #131414, inset 0 0 0 2px #242526;
  background-color: #1c1d1e;
  -moz-box-shadow: 0 1px 0 #131414, 0 0 0 2px #242526 inset;
  -webkit-box-shadow: 0 1px 0 #131414, 0 0 0 2px #242526 inset;
  text-shadow: 0 1px 0 #f1f2f6
  }
